beautifulsoup4==4.6.0
bert-for-tf2==0.14.4
bs4==0.0.1
JPype1==1.0.1
Keras==2.4.3
konlpy==0.5.2
numpy==1.18.5
PyQt5==5.15.0
PyQt5-sip==12.8.0
pyqt5-tools==5.15.0.1.7
requests==2.24.0
selenium==3.141.0
sentencepiece==0.1.91
tensorflow==2.1.0
tokenizers==0.8.1rc1
torch
torchvision
tqdm==4.48.0
transformers==3.0.2
urllib3==1.25.9
keras-bert
keras-radam